* { margin: 0px;}



html,body{
    height:100% 
}
html
{
    
    margin-left:10%;
    margin-right:10%;
}
#header {
    
    border-left:1px solid black;
    border-right:1px solid black;
    border-top:1px solid black;
   
    padding:10px;
    color: darkorange;
     background-image: url("title.png");
    }
    
    #header .title
{
    background: url(title.png) no-repeat;
    display: table;
    width: 400px;
    height:100px;
  }

#footer {
    color: black;
    height :4em;
    border-left:1px solid black;
    border-right:1px solid black;
    background:#cc3300;
    text-align: center;
}


#content{
    height:500px;
    padding:10px;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
}



#menu{
    border-left:1px solid black;
    border-right:1px solid black;
    padding:10px;
    background:   #cc3300;
    color:black;
     
}
#menu a{
     color: black;
     font-weight: bold;
     padding: 10px;
     text-decoration: none;
}
#menu a:hover
{
     background: white;
     
}





table { 
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 640px;
  /* Table reset stuff */
  border-collapse: collapse; border-spacing: 0; 
}
		
td, th {  border: 1px none; height: 30px; font-size: small }
			
th {
  /* Gradient Background */
	background: linear-gradient(#333 0%,#444 100%);
	color: #FFF; font-weight: bold;
	height: 40px;
}
		
td { background: #FAFAFA; text-align: center; }

/* Zebra Stripe Rows */
		
tr:nth-child(even) td { background:#fff1ed; } 
tr:nth-child(odd) td { background: #FFF; }














